/*
   extra-small: 0px or larger
   small: 600px or larger
   medium: 960px or larger
   large: 1280px or larger
   xlarge: 1920px or larger
*/

.comments {
    margin: 0 auto;
    padding-top: 20px;
}

@media (min-width: 700px)
{
    .comments {
        width: 700px;
    }
}