.commentsSection {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 700px)
{
    .commentsSection {
        width: 700px;
    }
}