.divider {
	margin: 0 0 16px 0;
	padding: 4px 14px 4px 10px;
	align-self: flex-start;
	user-select: none;
	-moz-user-select: none;
	background-color: #272727;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: 'Mukta Mahee', sans-serif;
}