.divider {
    margin-bottom: 16px;
    padding: 4px 14px 4px 10px;
    display: inline-block;
    background-color: #272727;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Mukta Mahee', sans-serif;
}